* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.servicios {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 5px black;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.servicios:hover {
  transform: translateY(-10px);
}
.servicios img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.servicios h2 {
  margin: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.servicios p {
  margin: 0 20px 20px;
  font-size: 16px;
  line-height: 1.5;
}
.servicios a {
  display: block;
  margin: 0 20px 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.servicios a:hover {
  background-color: #0062cc;
}

.nosotros {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 5px black;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.nosotros:hover {
  transform: translateY(-10px);
}
.nosotros img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.nosotros h2 {
  margin: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.nosotros p {
  margin: 0 20px 20px;
  font-size: 16px;
  line-height: 1.5;
}
.nosotros a {
  display: block;
  margin: 0 20px 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.nosotros a:hover {
  background-color: #0062cc;
}

/* .........................footer............................... */
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: black;
  background: linear-gradient(to left, blue, rgba(112, 216, 204, 0.847), blue);
}

.column1 h2,
.column2 h2,
.column3 h2 {
  font-size: 1rem;
  display: flex;
  margin-top: 10px;
  padding: 5px;
  gap: 10px;
}

.column1 p {
  font-size: 0.8rem;
  margin-top: 2px;
  padding: 5px;
}

.row {
  display: flex;
  text-align: center;
  margin-top: 20px;
  gap: 5px;
  font-size: 0.6rem;
}

.row img {
  width: 16px;
  height: 16px;
  display: flex;
}

@media (min-width: 600px) {
  .container-footer {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    padding: 20px;
  }
  .column1,
  .column2,
  .column3 {
    width: 33.33%;
    text-align: center;
  }
  .column2 {
    margin-left: 100px;
  }
  .row {
    font-size: 1rem;
    margin-top: 0;
  }
  .row img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .container-footer {
    padding: 40px;
  }
  .column1 h2,
  .column2 h2,
  .column3 h2 {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
  }
  .column1 p {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
  }
  .row {
    font-size: 1rem;
    margin-top: 0;
    gap: 20px;
  }
  .row img {
    width: 30px;
    height: 30px;
  }
}
/* ..................nav..................................... */
.container-menu {
  width: 100%;
  font-family: sans-serif;
  background-color: black;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

.menu {
  display: flex;
  align-items: center;
}

.menu > nav > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > nav > ul > li {
  position: relative;
}

.menu > nav > ul > li > a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.menu > nav > ul > li:hover > a {
  background-color: blue;
}

.menu > nav > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  display: none;
}

.menu > nav > ul > li > ul > li > a {
  color: #fff;
  display: block;
  padding: 1rem;
}

.menu > nav > ul > li > ul > li > a:hover {
  background-color: blue;
}

.menu-hamburguesa-checkbox {
  display: none;
}

.menu-hamburguesa {
  display: none;
  cursor: pointer;
}

.menu-hamburguesa span {
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .menu > nav > ul {
    display: none;
  }
  .menu-hamburguesa {
    display: block;
  }
  .menu-hamburguesa.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-hamburguesa.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-hamburguesa.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .menu-hamburguesa span {
    display: block;
    height: 3px;
    width: 25px;
    margin-bottom: 5px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
  }
  .menu-hamburguesa.active ~ nav {
    top: 0;
  }
  .menu-hamburguesa-checkbox:checked ~ .menu-hamburguesa {
    display: block;
  }
  .menu-hamburguesa-checkbox:checked ~ .menu-hamburguesa.active span:nth-child(2) {
    opacity: 0;
  }
  .menu-hamburguesa-checkbox:checked ~ .menu-hamburguesa.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .menu-hamburguesa-checkbox:checked ~ .menu-hamburguesa.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
/* ...............index carrusell................ */
.galeria {
  margin: 20px 0;
}

.contenedor-galeria {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scale: 2 2;
  margin-top: 100px;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 20px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 10 0;
  width: 100%;
  height: auto;
}

.slide img {
  max-width: 100%;
  max-height: 1200px;
  display: block;
  margin: 0 auto;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.controls label {
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ddd;
  transition: background-color 0.5s ease-in;
}

.controls label:hover {
  background-color: #999;
}

input[type=radio] {
  display: none;
}

#slide-1:checked ~ .slides {
  transform: translateX(0);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

/* .................casos de exito............... */
.container-casos-exito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin-top: 30px;
}

.caso-exito {
  width: calc(50.5% - 20px);
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid white;
}
.caso-exito img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid white;
  margin-bottom: 10px;
}

.contenido-caso-exito {
  text-align: center;
}
.contenido-caso-exito h2 {
  margin-top: 0;
  font-size: 1rem;
}
.contenido-caso-exito p {
  margin-top: 0;
  font-size: 15px;
}

/* ......contactanos.......... */
.contactanos-formulario {
  display: flex;
  justify-content: center;
}

.formulario-nombre,
.formulario-correo,
.formulario-mensaje,
.formulario-recibir {
  padding: 10px;
}

body {
  background-color: rgba(112, 216, 204, 0.847);
}

/* ........................servicios............................... */
.titulo-servicios h2,
.titulo-casosdeexito h2,
.titulo-sobrenosotros h2,
.titulo-contactanos h2 {
  text-align: center;
  font-size: 1, 5rem;
  margin: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.servicios-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parrafo-index {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.5em;
  text-align: justify;
}

.container-nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ................header....................................... */
.header-superior {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  padding: 2em;
  background-color: black;
  background: linear-gradient(blue, rgba(112, 216, 204, 0.847));
}

.search input {
  font-size: 10px;
  height: 15px;
}

.logo img {
  width: 60px;
  box-shadow: -10px -10px;
}

.titulo-principal {
  font-family: cursive, sans-serif;
  font-size: 2rem;
  color: black;
}

.parrafo-index article p {
  margin-bottom: 50px;
  line-height: 1.5;
}

.parrafo-index {
  margin-top: 100px;
  font-weight: bold;
  font-size: 1.1em;
}

/*# sourceMappingURL=styles.css.map */
