* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

.servicios {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 5px black;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.servicios:hover {
  transform: translateY(-10px);
}
.servicios img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.servicios h2 {
  margin: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.servicios p {
  margin: 0 20px 20px;
  font-size: 16px;
  line-height: 1.5;
}
.servicios a {
  display: block;
  margin: 0 20px 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.servicios a:hover {
  background-color: #0062cc;
}

.nosotros {
  width: 300px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 2px 5px black;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.nosotros:hover {
  transform: translateY(-10px);
}
.nosotros img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.nosotros h2 {
  margin: 20px;
  font-size: 0.9rem;
  text-align: center;
}
.nosotros p {
  margin: 0 20px 20px;
  font-size: 16px;
  line-height: 1.5;
}
.nosotros a {
  display: block;
  margin: 0 20px 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.nosotros a:hover {
  background-color: #0062cc;
}

/* .........................footer............................... */
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: black;
  background: linear-gradient(to left, blue, rgba(112, 216, 204, 0.847), blue);
}

.column1 h2,
.column2 h2,
.column3 h2 {
  font-size: 1rem;
  display: flex;
  margin-top: 10px;
  padding: 5px;
  gap: 10px;
}

.column1 p {
  font-size: 0.8rem;
  margin-top: 2px;
  padding: 5px;
}

.row {
  display: flex;
  text-align: center;
  margin-top: 20px;
  gap: 5px;
  font-size: 0.6rem;
}

.row img {
  width: 16px;
  height: 16px;
  display: flex;
}

@media (min-width: 600px) {
  .container-footer {
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    padding: 20px;
  }
  .column1,
  .column2,
  .column3 {
    width: 33.33%;
    text-align: center;
  }
  .column2 {
    margin-left: 100px;
  }
  .row {
    font-size: 1rem;
    margin-top: 0;
  }
  .row img {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1024px) {
  .container-footer {
    padding: 40px;
  }
  .column1 h2,
  .column2 h2,
  .column3 h2 {
    font-size: 1.2rem;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
  }
  .column1 p {
    font-size: 1rem;
    margin-top: 10px;
    padding: 10px;
  }
  .row {
    font-size: 1rem;
    margin-top: 0;
    gap: 20px;
  }
  .row img {
    width: 30px;
    height: 30px;
  }
}
/* ..................nav..................................... */
.container-menu {
  width: 100%;
  font-family: sans-serif;
  background-color: black;
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

.menu ul {
  list-style: none;
}

.menu > nav > ul > li {
  display: inline-block;
  position: relative;
}

.menu > nav > ul > li > a {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  background-color: transparent;
  color: white;
}

.menu > nav > ul > li > a:hover {
  background-color: blue;
}

.menu ul ul {
  position: absolute;
  left: 0%;
  top: 40px;
  display: none;
  white-space: nowrap;
}

.menu ul ul li {
  float: none;
  width: 100%;
}

.menu ul ul li a {
  padding: 0 10px;
  line-height: 15px;
  font-size: 10px;
}

.menu ul ul li a:hover {
  background-color: blue;
}

.inline-submenu {
  display: flex;
}

.inline-submenu a {
  margin-right: 5px;
}

.menu ul li:hover > ul {
  display: block;
}

/* ...............index carrusell................ */
.galeria {
  margin: 20px 0;
}

.contenedor-galeria {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 20px;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 10 0;
  width: 100%;
  height: auto;
}

.slide img {
  max-width: 100%;
  max-height: 1200px;
  display: block;
  margin: 0 auto;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.controls label {
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ddd;
  transition: background-color 0.5s ease-in;
}

.controls label:hover {
  background-color: #999;
}

input[type=radio] {
  display: none;
}

#slide-1:checked ~ .slides {
  transform: translateX(0);
}

#slide-2:checked ~ .slides {
  transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
  transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
  transform: translateX(-75%);
}

/* .................casos de exito............... */
.container-casos-exito {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  margin-top: 30px;
}

.caso-exito {
  width: calc(50.5% - 20px);
  margin-bottom: 30px;
  padding: 10px;
  border: 2px solid white;
}
.caso-exito img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid white;
  margin-bottom: 10px;
}
.caso-exito p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.1em;
}

.conteiner-casos-exito {
  text-align: center;
}
.conteiner-casos-exito h2 {
  margin-top: 0;
  font-size: 1rem;
}
.conteiner-casos-exito p {
  margin-top: 0;
  font-size: 15px;
}

/* ......contactanos.......... */
body {
  background-color: rgba(112, 216, 204, 0.847);
}

.titulo-contactanos h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.contactanos-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario-nombre label,
.formulario-correo label,
.formulario-mensaje label,
.formulario-recibir label {
  display: block;
  margin-bottom: 5px;
}

.formulario-nombre input,
.formulario-correo input,
.formulario-mensaje textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.formulario-mensaje textarea {
  height: 120px;
}

.formulario-recibir label {
  display: inline-block;
  margin-right: 10px;
}

.formulario-recibir input[type=submit],
.formulario-recibir input[type=reset] {
  display: inline-block;
  padding: 5px 15px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.formulario-recibir input[type=submit]:hover,
.formulario-recibir input[type=reset]:hover {
  background-color: #0062cc;
}

.texto-ubicacion {
  text-align: center;
  font-size: 24px;
  margin-top: 100px;
}

.mapa {
  text-align: center;
  margin-top: 100px;
}

.mapa img {
  width: 100%;
  max-width: 1000px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

/* ........................servicios............................... */
.titulo-servicios h2,
.titulo-casosdeexito h2,
.titulo-sobrenosotros h2,
.titulo-contactanos h2 {
  text-align: center;
  font-size: 1, 5rem;
  margin: 1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.servicios-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.parrafo-index {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 300px;
  padding: 20px;
  font-size: 40px;
  line-height: 2.5em;
  text-align: justify;
}

.contenedor-nosotros {
  margin-bottom: 500px;
}
.contenedor-nosotros h2 {
  margin-top: -100px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.parrafo-sobre-nosotros {
  font-size: 17px;
  line-height: 1.5;
  text-align: justify;
  background-color: hsla(175, 67%, 24%, 0.247);
  padding: 10px;
  font-weight: bold;
}
.parrafo-sobre-nosotros img {
  width: 100%;
  display: block;
  object-fit: cover;
  border: 2px solid white;
  margin-bottom: 90px;
  transform: scale(0.8);
  box-shadow: -50px -50px 0 0 rgba(39, 36, 113, 0.371);
}

.contenedor-equipo {
  margin-bottom: 500px;
}
.contenedor-equipo h2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 90px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafo-equipo {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  background-color: hsla(175, 67%, 24%, 0.247);
  padding: 80px;
  font-weight: bold;
  margin-bottom: 400px;
}
.parrafo-equipo img {
  width: 100%;
  display: block;
  object-fit: cover;
  border: 2px solid white;
  transform: scale(0.8);
  box-shadow: -50px -50px 0 0 rgba(39, 36, 113, 0.371);
  margin-top: -500px;
}

.equipo-formulario {
  padding: 100px;
  margin-top: -500px;
  border: 100px;
}

.form-nombre {
  font: size 13px;
  padding: 4px;
  text-decoration: solid;
  font-weight: bold;
}

.form-correo {
  padding: 4px;
  text-decoration: solid;
  font-weight: bold;
}

.label-mensaje-correo {
  text-decoration: solid;
}

.input text {
  display: inline-block;
  vertical-align: middle;
}

/* ................header....................................... */
.header-superior {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1rem;
  padding: 2em;
  background-color: black;
  background: linear-gradient(blue, rgba(112, 216, 204, 0.847));
}

.search input {
  font-size: 8px;
  height: 15px;
}

.logo img {
  width: 60px;
  box-shadow: -10px -10px;
}

.titulo-principal {
  font-size: 30px;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafo-index article p {
  margin-bottom: 50px;
  line-height: 1.5;
}

.parrafo-index {
  margin-top: 100px;
  font-weight: bold;
  font-size: 0.75rem;
}

@media (max-width: 700px) {
  .container-menu {
    font-size: 0.3rem;
    gap: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
