* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
$color-primario: blue;
$color-secundario: white;
$color-terciario:black;
$fuente-principal:sans-serif;

@mixin flex-center {
    display:flex;
    justify-content:center;
    align-items:center;
}