/* .................casos de exito............... */

.container-casos-exito {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    margin-top: 30px;

}

.caso-exito {
    width: calc(50.50% - 20px);
    margin-bottom: 30px;
    padding: 10px;
    border: 2px solid $color-secundario;

    & img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 2px solid $color-secundario;
        margin-bottom: 10px;
    }

    & p {
        margin-top: 30px;
        font-weight: bold;
        font-size: 1.1em;
    }
}

.container-casos-exito {
    text-align: center;

    & h2 {
        margin-top: 0;
        font-size: 1rem;
    }

    & p {
        margin-top: 0;
        font-size: 15px;
    }
}