
/* ......contactanos.......... */


.contactanos-formulario {
    display: flex;
    justify-content: center;
    
}

.formulario-nombre,
.formulario-correo,
.formulario-mensaje,
.formulario-recibir {
    padding: 10px;

}

body {
    background-color: rgba(112, 216, 204, 0.847);

}
