/* ................header....................................... */


.header-superior {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    padding: 2em;
    background-color: $color-terciario;
    background: linear-gradient(blue, rgba(112, 216, 204, 0.847));

}

.search input {
    font-size: 6px;
    height: 15px;

}

.logo img {
    width: 60px;
    box-shadow: -10px -10px;
}

.titulo-principal {

    font-size: 30px;
    color: $color-terciario;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.parrafo-index {
    font-size: 17px;
    line-height: 1.5;
    text-align: justify;
    background-color: hsla(175, 67%, 24%, 0.247);
    padding: 10px;
    font-weight: bold;
}




@media(max-width: 700px) {
    .container-menu {
        font-size: .30rem;
        gap: 2px;
    }
}