/* ................header....................................... */


.header-superior {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1rem;
    padding: 2em;
    background-color:$color-terciario;
    background: linear-gradient(blue,rgba(112, 216, 204, 0.847));
    
}

.search input {
    font-size: 10px;
    height: 15px;

}

.logo img {
    width: 60px;
    box-shadow: -10px -10px;
}

.titulo-principal {
    font-family: cursive, $fuente-principal;
    font-size: 40px;
    color: $color-terciario;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.parrafo-index article p {
    margin-bottom: 50px;
    line-height:1.5; 
}
.parrafo-index {
    margin-top:100px;
    font-weight: bold;
    font-size: 1.1em;
}








