/* ..................nav..................................... */
.container-menu {
    width: 100%;
    font-family: sans-serif;
    background-color: $color-terciario;
    display: flex;
    justify-content: space-around;
    font-size: .7rem;

}


.menu ul {
    list-style: none;

}

.menu>nav>ul>li {
    display: inline-block;
    position: relative;



    & a {
        display: block;
        padding: 0 20px;
        line-height: 40px;
        background-color: transparent;
        color: $color-secundario;
    }

    &:hover {
        background-color: $color-primario;
    }
}

.menu ul ul {
    position: absolute;
    left: 0%;
    top: 40px;
    display: none;
    white-space: nowrap;



    & li {
        float: none;
        width: 100%;
    }

    & a {
        padding: 0 10px;
        line-height: 15px;
        font-size: 10px;

        &:hover {
            background-color: $color-primario;
        }
    }

}

.inline-submenu {
    display: flex;


    & a {
        margin-right: 5px;
    }

}


.menu ul li:hover>ul {
    display: block;
}